<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"> -->
    <meta name="generator" content="Hugo 0.88.1">
    <title>Contact Management App</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">


  </head>


  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Contact Management Application</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">

      </nav>
    </div>
  </header>

  <main class="px-3 main">

    <h2 class="label-signup">Sign-up</h2>

    <form class="" action="/" method="post">

      <div class="form-group">
        <label class="labels" for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail"  name = "email" placeholder="Enter email" required>

    </div>





    <div class="form-group">
      <label for="exampleInputPassword1" class="labels">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
    </div>

    <div class="form-group">
      <label for="secretKey" class="labels">Secret Key</label>
      <input type="text" class="form-control" name="secretKey" placeholder="Secret Key">
     <!-- <small id="emailHelp" class="form-text text-muted">This is for security purposes.</small> -->
   </div>


<div class="form-group">

   <small>By signing up you are agreeing for the terms and conditions</small>
 </div>
    <!-- <p class="lead"> -->
      <button type="submit" class="btn btn-sm btn-primary border-white form-control" name="button">Sign-up</button>

    <!-- </p> -->




  </form>

  <!-- TODO: Sign-in color change  -->

  <p>
    <form class="" action="/signIn" method="get">
      Already a registered user?
      <a href="/signIn">Sign In</a>
      <!-- <button type="submit" class="btn  btn-secondary border-white bg-white" name="button">signIn</button> -->
    </form>
    </p>

  </main>
  <footer class="mt-auto text-white-50" >
    <p>Contact Management App for Zoho - Rachitha B R </p>
  </footer>

</div>


    <!--  Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<% if( emailAlert  ) { %>
<script type="text/javascript">
 alert("Please provide a valid email");
</script>
<% } %>

<% if( pwdAlert  ) { %>
<script type="text/javascript">
 alert("Password must contain atleast 1 character, 1 number, 1 special character, min length 6 , maximum length 16");
</script>
<% } %>

<% if( userPresent  ) { %>
<script type="text/javascript">
 alert("Email already in use.Please sign in");
</script>
<% } %>

<% if( error  ) { %>
<script type="text/javascript">
 alert("Some error occured during signUp, please try again");
</script>
<% } %>
  </body>



</html>
