<%- include("header") -%>

  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Contact Management Application</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">

      </nav>
    </div>
  </header>

  <main class="px-3 main">

    <h3>Sign-In</h3>
    <form class="" action="/signIn" method="post">


      <div class="form-group">
<label for="floatingInputEmail" class="text-left labels" >Email address</label>
      <input type="email"  name="userEmail" class="form-control " id="floatingInputEmail" required placeholder="Enter email">

    </div>

    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input name="pwd" type="password" class="form-control" id="inputPassword"  placeholder="Password" required>
    </div>



    <p class="lead">
      <button class="btn btn-lg btn-secondary fw-bold border-white bg-white" type="submit">Sign-In</button>
    </p>

    </form>
    <br>
    <br>


    <p>Dont have an account ? <a href ="/" class="text-white">Sign up!</a></p>

    <% if( emailFail  ) { %>
    <script type="text/javascript">
     alert("Invalid email , Please check again");
    </script>
    <% } %>
    <% if( pwdFail  ) { %>
    <script type="text/javascript">
     alert("Invalid password , Please check again");
    </script>
    <% } %>
    <% if( successfull  ) { %>
    <script type="text/javascript">
     alert("Sign up successfull");
    </script>
    <% } %>
    <% if( error  ) { %>
    <script type="text/javascript">
     alert("Some error occured in signIn, please try again");
    </script>
    <% } %>

  </main>

<%- include("footer") -%>
