<%- include("header") -%>


  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Contact Management Application</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">

      </nav>
    </div>
  </header>

  <main class="px-3 main">

    <h2 class="label-signup">Sign-up</h2>

    <form class="" action="/" method="post">

      <div class="form-group">
        <label class="labels" for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail"  name = "email" placeholder="Enter email" required>

    </div>





    <div class="form-group">
      <label for="exampleInputPassword1" class="labels">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
    </div>

    <div class="form-group">
      <label for="secretKey" class="labels">Secret Key</label>
      <input type="text" class="form-control" name="secretKey" placeholder="Secret Key">
     <!-- <small id="emailHelp" class="form-text text-muted">This is for security purposes.</small> -->
   </div>


<div class="form-group">

   <small>By signing up you are agreeing for the terms and conditions</small>
 </div>
    <!-- <p class="lead"> -->
      <button type="submit" class="btn btn-sm btn-primary border-white form-control" name="button">Sign-up</button>

    <!-- </p> -->




  </form>

  <!-- TODO: Sign-in color change  -->

  <p>
    <form class="" action="/signIn" method="get">
      Already a registered user?
      <a href="/signIn">Sign In</a>
      <!-- <button type="submit" class="btn  btn-secondary border-white bg-white" name="button">signIn</button> -->
    </form>
    </p>

  </main>

  <% if( emailAlert  ) { %>
  <script type="text/javascript">
   alert("Please provide a valid email");
  </script>
  <% } %>

  <% if( pwdAlert  ) { %>
  <script type="text/javascript">
   alert("Password must contain atleast 1 character, 1 number, 1 special character, min length 6 , maximum length 16");
  </script>
  <% } %>

  <% if( userPresent  ) { %>
  <script type="text/javascript">
   alert("Email already in use.Please sign in");
  </script>
  <% } %>

  <% if( error  ) { %>
  <script type="text/javascript">
   alert("Some error occured during signU, please try again");
  </script>
  <% } %>


  <%- include("footer") -%>
